*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header .container-header{
    position: relative;
}
header .container-header .container-video video{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.container-fluid header .container-header .container-video img{
    display: none;
}
.container-fluid header .container-header{
    position: relative;
}
.container-fluid header .container-header .container-form form{
    position: absolute;
    top: 20%;
    width: 35%;
    left: 5%;
    height: 60%;
    /* padding-top: 30%;  */
    margin-top: -70px;
    font-size: 13px;
  

}
.container-fluid header .container-header .container-form form h2,label{
    color: rgb(255, 253, 253);
    /* padding-top: 30%;  */
    /* height: 30px; */
}
.container-fluid header .container-header .container-form form,label,input{
    background-color: rgb(255, 255, 255, 0.2);
    padding: 10px 20px 0px 20px;
    text-align: center;
    color: white;
    font-size:13px;
    /* height: 10px; */
    /* padding-top: 20px; */
    line-height: center;
}
.container-fluid header .container-header .container-form input,select, option{
    background-color: rgb(255, 255, 255, 0.2);
    color: rgb(255, 255, 255);
    font-size: 13px;

}
.container-fluid header .container-header .container-form select{
    background-color: rgb(255, 255, 255, 0.2);
    color: rgb(255, 255, 255);   
    font-size: 13px;
    
}
.container-fluid header .container-header .container-form input,select{
    height: 30px;
}
/* bodi-item */
.body-item .container-fluid .row .item1, .item2, .item3, .item4{
    display: flex;
}
.body-item h2{
    margin-bottom: 60px;
    color: rgb(10, 185, 243);
    position: relative;

}
.body-item h2::after{
    position: absolute;
    top:60px;
    content: "";
    width: 10%;
    height: 3px;
    background-color: rgb(15, 171, 223);
    left: 50%;
    transform: translateX(-50%);
}
.body-item .container-fluid .row .item1, .item2, .item3, .item4, p, h3{
    text-align:justify;
    margin-left: 2%;
}
.body-item .container-fluid .row .item1, .item2, .item3, .item4, p{
    /* position: relative; */
}
.body-item .container-fluid .row  h3{
    /* position: absolute;
    content: "";
    width: 100%;
    height:3px;
    background-color:gray; */
    border-bottom:3px solid gray;
    padding-bottom: 10px ;
}
.body-item .container-fluid .row .item1, .item2, .item3, .item4{
    cursor: pointer;
}
.body-item .container-fluid .row .col-md-6 .item1:hover, .item2:hover, .item3:hover, .item4:hover{
    background-color:rgb(177, 201, 212);
}
.body-item .container-fluid .row  .col-md-6 .item1, .item2, .item3, .item4{
    background-color:rgb(240, 242, 243);
}
.footer .container-fluid .row span i{
    font-size: 25px;
    color: rgb(43, 147, 179);
    cursor: pointer;
}
.footer .container-fluid .row .col-sm-6{
    cursor: pointer;
}
.footer h2{
    color: rgb(22, 161, 207);
    position: relative;

}
.footer h2::after{
    position: absolute;
    content: "";
    width: 90%;
    height: 3px;
    background-color: rgb(37, 183, 202);
    top: 70px;
    left: 50%;
    transform: translateX(-50%)
}